*{
    margin: 0px;
    padding: 0px;
}
html,body{
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}
.nav-item a:hover{
    background-color: #d73d4f;
    color: #fff;
    border: 1px solid #d73d4f;
}
.nav-text{
    margin-top: 10px;
    color: #fff;
    border: 1px solid #fff;
}
.logo-autochess{
    margin-top: 30px;
    width: 350px;
    height: 140px;
}
.timlobby{
    width:180px; 
    background-color: #D93647; 
    color: #fff; 
    border: 1px solid #D93647
}
.timlobby:hover{
    border: 1px solid #fff;
    background-color: #D93647
}
.hostphong{
    width:180px; 
    background-color: inherit; 
    color: #fff; 
    border: 1px solid #fff;
}
.hostphong:hover{
    border: 1px solid #D93647;
    background-color: #D93647
}
.player{
    width:180px; 
    background-color: inherit; 
    color: #fff; 
    border: 1px solid #fff;
}
.player:hover{
    border: 1px solid #D93647;
    background-color: #D93647
}
.tabcontent {
    color: white;
    margin-top: 30px;
    padding: 40px 20px;
    height: auto;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(104, 100, 100, 0.247);
}
.c2{
    margin-top: 128px;
}
.c3{
    margin-top: 20px;
}
.king{
    margin-top: 526px;
    font-size: 36px;
    font-weight: bold;
}
.queen{
    margin-top: 44px;
    font-size: 36px;
    font-weight: bold;
}
.label1{
    color: yellow;
    font-size: 25px;
    margin-left: 30px;
}
.label3{
    color: yellow;
    font-size: 25px;
    margin: 45px 30px;
}
.pawn2{
    width: 60%;
    float: left;
}
.xxx-right{
    margin: 15px 20px;
    color: #fff;
}
.pawn-right{
    margin: 15px 40px;
    width: 80%;;
}
.xxx{
    width: 25%;
    float: left;
}
.text-center{
    color: white !important;
}
.page-footer{
    margin-top:5% !important;
    padding-bottom: 2% !important;
}
.sever-select{
    border: none;
    border-radius: 3px;
    background-color: inherit;
    color: yellow;
}
.sever{
    color: yellow;
    margin-left: 52px;
}