html,body{
background-image: url("background.png");
background-size: cover;
background-repeat: no-repeat;
height: auto;
font-family: 'Numans', sans-serif;
}
.container{
height: 100%;
align-content: center;
}
.logo-autochess{
    margin-top: 100px;
    width: 350px;
    height: 140px;
}
.icon{
    padding-left: 5px;
}
.card{
height: 340px;
margin-top: 55px;
margin-bottom: auto;
width: 450px;
background-color: rgba(104, 100, 100, 0.247) !important;
padding-top: 30px;
}
.header-card h3{
    text-align: center;
    color: #fff;
}
.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: rgba(255, 255, 255, 0.301) !important;
color: black;
border:0 !important;
}
.gg{
    background-color: rgba(255, 255, 255, 0.301) !important;
    border: none; 
}
::placeholder {
    color: #fff !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
color: #fff !important;
}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
.nut{
    width: 48%;
}
.aa{
    padding-top: 30px;
    color: white;
}

.bb{
    color: white;
    font-size: 24px;
}
.cc{
    margin-top: 25%;
    padding-bottom: 2%;
}