*{
    margin: 0px;
    padding: 0px;
}
html,body{
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}
.nav-item a:hover{
    background-color: #d73d4f;
    color: #fff;
    border: 1px solid #d73d4f;
}
.nav-text{
    margin-top: 10px;
    color: #fff;
    border: 1px solid #fff;
}
.tablink {
    background-color: rgba(172, 167, 167, 0.418);
    color: white;
    float: left;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 49.5%;
}
.thongtin{
  margin-top: 50px;
}
.tabcontent {
    color: white;
    margin-top: 50px;
    display: none;
    padding: 20px 20px;
    height: auto;
    border-radius: 10px;
}
#Home {background-color: rgba(104, 100, 100, 0.247);}
#Setting {background-color: rgba(104, 100, 100, 0.247);}
.tab{
    margin-top: 80px;
    height: auto;
}
hr {
    width: 152px;
    height: 1px;
    border-top: 2px solid yellow;
    margin-top: 0px;
}
label{
    color: yellow;
    font-size: 20px;
    margin-left: 30px;
}
.aa{
    width: 40%;
    display: inline;
    background-color: rgba(255, 255, 255, 0.301) !important;
    border: none; 
}
.ab{   
    margin-right: 12px;
}
::placeholder {
    color: #fff !important;
}
.tt{
    height: auto;
    margin-bottom: 90px;
}
.pet{
    box-shadow: 0px 0px 8px 2px yellow;
    width: 60px;
    margin-left: 65px;
}
.text-center{
    color: white !important;
}
.page-footer{
    margin-top:5% !important;
    padding-bottom: 2% !important;
}