*{
    margin: 0px;
    padding: 0px;
}
html,body{
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}
.nav-item a:hover{
    background-color: #d73d4f;
    color: #fff;
    border: 1px solid #d73d4f;
}
.nav-text{
    margin-top: 10px;
    color: #fff;
    border: 1px solid #fff;
}
.logo-autochess{
    margin-top: 30px;
    width: 350px;
    height: 140px;
}
.timlobby{
    width:180px; 
    background-color: inherit; 
    color: #fff; 
    border: 1px solid #fff
}
.timlobby:hover{
    border: 1px solid #D93647;
    background-color: #D93647
}
.hostphong{
    width:180px; 
    background-color: inherit; 
    color: #fff; 
    border: 1px solid #fff;
}
.hostphong:hover{
    border: 1px solid #D93647;
    background-color: #D93647
}
.player{
    width:180px; 
    background-color: #D93647; 
    color: #fff; 
    border: 1px solid #D93647;
    
}
.player:hover{
    border: 1px solid #fff;
    background-color: #D93647
}
.thongtin{
  margin-top: 50px
}
.tabcontent {
    color: white;
    margin-top: 30px;
    padding: 40px 20px;
    height: auto;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(104, 100, 100, 0.247);
    
}
.a0{
    width: 70px;
    height: 70px;
    float: left;
    margin-left: 68px;
    margin-top: 80px;
    box-shadow: 0px 0px 18px 4px yellow;
}
.rook{
    margin-top: -30px;
    font-size: 20px;
    margin-left: 5px;
}
.sao0{
    margin-left: 14px;
    color: #fff;
    margin-top: 15px;
    font-size: 25px;
}
.r0{
    float: left;
    margin-left: 108px;
    margin-top: -20px;
    color: #000;
    color: #fff;
}
.r1{
    float: left;
    margin-left: 82px;
    margin-top: -20px;
    color: #000;
    color: #fff;
}
.form-control{
    width: 300px !important;
    display: inline;
    margin-left: -20px;
}
.tab{
    margin-top: 80px;
    height: auto;
}
.chucmung{
    text-align: center;
    margin-top: 15px;
}
.text-center{
    color: white !important;
}
.page-footer{
    margin-top:5% !important;
    padding-bottom: 2% !important;
}
